{
    "remote_api_url": "http://192.168.1.229:3000/api",
    "samba_share": "http://192.168.1.100/photos",
    "webcam_device": "/dev/video0",
    "webcam_rotation": 0,
    "webcam_resolution": "1280x720",
    "video_duration": 5,
    "hostname": "aaa-photo-1.local"
}